PORT=4000
MONGO_URI=mongodb+srv://adityapuri720_db_user:DcFwBur58QuOeQEL@data-science.b7x3wg2.mongodb.net/
PYTHON_API=http://localhost:5000




mongodb+srv://adityapuri720_db_user:<db_password>@data-science.b7x3wg2.mongodb.net/